.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	justify-content: space-around;
}
.space {
	padding: 15px !important;
}

.Loading {
	text-align: center;
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
	padding-top: 20%;
}

.Loading h4 {
	animation: blink 1.2s infinite;
}

.container {
	display: flex;
	width: 100vw;
	height: auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
